# <span style='font-family:montserrat;color:#0A043C'>Twitter Sentiment Analysis</span>

### <span style='font-family:montserrat;color:#C84B31'>Project by Kalpana Kashyap</span>

In [1]:
# utilities
import numpy as np
import pandas as pd
# plotting
import seaborn as sns
import matplotlib.pyplot as plt
# sklearn
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import confusion_matrix, classification_report

In [5]:
# Importing the dataset
DATASET_COLUMNS=['target','ids','date','flag','user','text']
DATASET_ENCODING = "ISO-8859-1"
df = pd.read_csv('tweets_data.csv', encoding=DATASET_ENCODING, names=DATASET_COLUMNS)
df.sample(5)

,target,ids,date,flag,user,text
12953,12952.0,12953,0,#countrymusicawards wonder which country the...,NaN,NaN
25437,25436.0,25437,1,@user pay of #rich #white #snobs via @user #...,NaN,NaN
22708,22707.0,22708,0,first day of school! #quinnhaley.,NaN,NaN
30135,30134.0,30135,1,"""the blacks""? ""the blacks""? ""blacks""? *facepal...",NaN,NaN
4648,4647.0,4648,0,i'm so sick about this news of this little boy...,NaN,NaN

In [7]:
df.head()

,target,ids,date,flag,user,text
0,NaN,id,label,tweet,NaN,NaN
1,0.0,1,0,@user when a father is dysfunctional and is s...,NaN,NaN
2,1.0,2,0,@user @user thanks for #lyft credit i can't us...,NaN,NaN
3,2.0,3,0,bihday your majesty,NaN,NaN
4,3.0,4,0,#model i love u take with u all the time in ...,NaN,NaN

In [9]:
df.columns

Index(['target', 'ids', 'date', 'flag', 'user', 'text'], dtype='object')

In [10]:
print('length of data is', len(df))

length of data is 31963

In [11]:
df.shape

(31963, 6)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31963 entries, 0 to 31962
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   target  31962 non-null  float64
 1   ids     31963 non-null  object
 2   date    31963 non-null  object
 3   flag    31963 non-null  object
 4   user    0 non-null      float64
 5   text    0 non-null      float64
dtypes: float64(3), object(3)
memory usage: 1.5+ MB

In [13]:
df.dtypes

target    float64
ids        object
date       object
flag       object
user      float64
text      float64
dtype: object

In [14]:
np.sum(df.isnull().any(axis=1))

31963

In [15]:
print('Count of columns in the data is:  ', len(df.columns))
print('Count of rows in the data is:  ', len(df))

Count of columns in the data is:   6
Count of rows in the data is:   31963

In [16]:
df['target'].unique()

array([       nan, 0.0000e+00, 1.0000e+00, ..., 3.1959e+04, 3.1960e+04,
       3.1961e+04])

### Cleaning of Raw Data
    Lowering case
    Removal of mentions
    Removal of special characters
    Removal of stopwords
    Removal of hyperlinks
    Removal of numbers
    Removal of whitespaces

In [ ]:
def to_lower(word): 
    result = word.lower() 
    return result

In [ ]:
def remove_mentions(word):       
    result = re.sub(r"@\S+", "", word)       
    return result

In [ ]:
def remove_special_characters(word):       
    result = word.translate(str.maketrans(dict.fromkeys(string.punctuation)))    
    return result

In [ ]:
def remove_stop_words(words):       
    result = [i for i in words if i not in ENGLISH_STOP_WORDS      
    return result

In [ ]:
def remove_hyperlink(word):       
    return re.sub(r"http\S+", "", word)

In [ ]:
from nltk.tokenize import word_tokenize
tweets_data['tweet'] = tweets_data['tweet'].apply(word_tokenize)

In [ ]:
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()def stem_words(text):       
    return " ".join([stemmer.stem(word) for word in text])
tweets_data['tweet'] = tweets_data['tweet'].apply(lambda text: stem_words(text))